body {
  margin: 0;
  font-family: monospace;
}

.App {
  background-color: tomato;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 3rem;
}
